@font-face {
  font-family: 'Inconsolata-Regular';
  src: url("/fonts/Inconsolata/static/Inconsolata-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Inconsolata-ExtraBold';
  src: url("/fonts/Inconsolata/static/Inconsolata-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto_Slab-Regular';
  src: url("/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto_Slab-Light';
  //src: url("../static/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf") format('truetype');
  src: url("/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf") format('truetype');
}
