:root{
  --navigation-bar-height: 5rem;
  --horizontal-padding: 12rem;
  --vertical-padding: 5rem
}

.shared__opacity-0{
  opacity: 0;
}

h1{
  font-size: 4em;
}

h2{
  font-size: 1.8em;
}

h3{
  font-size: 1.5em;
}

h4{
  font-size: 1.3em;
}

h5{
  font-size: 1.1em;
}

p{
  font-size: 1em;
}

@media only screen and (max-width: 1200px) {
  :root{
    --horizontal-padding: 5rem;
  }
}

@media only screen and (max-width: 992px) {
  :root{
    --horizontal-padding: 2rem;
  }
}

@media only screen and (max-width: 576px) {

  :root{
    --horizontal-padding: 0rem;
  }

  h1{
    font-size: 2.5em;
  }

  h2{
    font-size: 1.5em;
  }

  h3{
    font-size: 1.2em;
  }

  h4{
    font-size: 1.1em;
  }

  h4{
    font-size: 1em;
  }

  p{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 329px) {
  h1{
    font-size: 2em;
  }

  h2{
    font-size: 1.2em;
  }
  h3{
    font-size: 0.8em;
  }

  h4{
    font-size: 0.7em;
  }

  h5{
    font-size: 0.6em;
  }

  p{
    font-size: 0.5em;
  }
}
